
html, body{
    height: 150%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y:auto;
}

.hero{
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    flex: 3;
    gap: 90px;

}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.description{
    display: flex;
    justify-content:space-around;
} 

.left{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    padding: 0;
}

.text{
    font-size: 48px ;
    color: #f9faf8;
    font-weight: bolder;
    max-width: 299px;
    margin:0px;
}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 370px;
}

.sign-up-one{
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color:#3882f6;
    font-size: 18px;
    font-weight: bold;
    border:0;
    cursor: pointer;
    width: 140px;   
 }
.right{
    margin-right: 300px;
    padding: 0;
}
 .image{
     background-color: gray;
     color: #e5e7eb;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 250px;
     width: 500px;
 }

.content-one{
    display: flex;
    flex: 2;
    background-color:whitesmoke;
}

.content-two{
    display: flex;
    flex: 1.5;
}

.content-three{
    display: flex;
    flex: 1.5;
}

.footer{
    display: flex;
    flex:0;
    justify-content: center;
    align-items: center;   
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 35px;
    margin-top: 300px;
}

ul{
    
    display: flex;
    gap: 12px;
    list-style: none;
}

a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}


