
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    overflow-y:visible;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 700px;
}

.header{
    display: flex;
    justify-content:space-around;
    margin-top: 5px;
}

.logo{
    font-size: 35px;
    font-weight: bold;
    color: #f9faf8;
}

.description{
    display: flex;
    margin: auto;
    gap: 100px;
} 

.left{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.right{
    display: flex;
    background-color: gray;
    height: 350px;
    width: 750px;
    
}

.centered{
    color:#f9faf8;
    font-size: 25px;
    margin: auto;
}

.text{
    font-size: 70px ;
    color: #f9faf8;
    font-weight: bolder;
    max-width: 436px;
}

.subtext{
    font-size: 20px;
    color: #e5e7eb;
    max-width: 400px;
}

.sign-up-one{
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color:#3882f6;
    font-size: 18px;
    font-weight: bold;
    border:0;
    cursor: pointer;
    width: 140px;
    margin-top: 5px;   
 }

.content-one{
    height: 600px;
    display: flex;
    flex-direction: column;
}

.description-one{
    display: flex;
    justify-content: center;
    margin: auto;
}
.one{
    display: flex;
    flex-direction: column;
}


.box{
    width: 190px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

h1{
    font-size: 55px;
    color: #1f2937;
    text-align: center;
    margin-top: 90px;
}

.caption{
max-width: 200px;
font-size: 20px;
font-weight: bold;
text-align: center;
color: gray;
}

.content-two{
    display: flex;
    width:100% ;
    height: 450px;
    background-color: #e5e7eb;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.quote{
    font-size: 40px;
    font-style: italic;
    color: #1f2937;
    max-width: 950px;
}

.author{
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    color: #1f2937;
    float: right;
}

.content-three{
    display: flex;
    height: 400px;
    margin: auto;
}

.pop{
    display: flex;
    background-color: #3882f6;
    width: 1300px;
    height: 180px;
    margin: auto;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 30px;
}

.left-up{
    color: aliceblue;
    margin-left: 100px;
}

 .left-up p{
     font-size: 20px;
 }

.right-btn{
    color:  #e5e7eb;
    border-radius: 8px;
    border-style:solid;
    border-width: 3px;
    background-color:#3882f6;
    border-color: #e5e7eb;
    font-size: 22px;
    font-weight: bold;
    width: 210px;
    height: 60px;
    cursor: pointer;
    margin-right: 100px;
}

.footer{
    display: flex; 
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 25px;
    height: 100px;
    justify-content: center;
    align-items: center;

}

ul{
    display: flex;
    gap: 12px;
    list-style: none;
}

a{
    font-size: 22px;
    color: #e5e7eb;
    text-decoration: none;
}


