
html, body{
    height: 250%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y:auto;
}

.hero{
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    gap: 150px;
    flex-basis: 660px;

}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 35px;
    font-weight: bold;
    color: #f9faf8;
}

.description{
    display: flex;
    justify-content:space-around;
} 

.left{
    display: flex;
    flex-direction: column;
    margin-left: 245px;
    padding: 0;
}

.text{
    font-size: 70px ;
    color: #f9faf8;
    font-weight: bolder;
    max-width: 436px;
    margin:0px;
}

.subtext{
    font-size: 20px;
    color: #e5e7eb;
    max-width: 400px;
    margin-left: 10px;
}

.sign-up-one{
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color:#3882f6;
    font-size: 18px;
    font-weight: bold;
    border:0;
    cursor: pointer;
    width: 140px;   
    margin-left: 10px;
 }
.right{
    margin-right: 100px;
    padding: 0;
}
 .image{
     background-color: gray;
     color: #e5e7eb;
     font-size:22px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 350px;
     width: 750px;
 }

.content-one{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.description-one{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}

.one{
    display: flex;
    flex-direction: column;
}

.box{
    width: 110px;
    height: 120px;
    border: 5px solid #3882f6;
    border-radius: 50px;
    padding: 50px;
}

h1{
    font-size: 55px;
    color: #1f2937;
    text-align: center;
    margin-top: 60px;
}

.caption{
max-width: 200px;
font-size: 20px;
font-weight: bold;
text-align: center;
color: gray;
}

.content-two{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    flex-basis: 530px;
}

.quote{
    font-size: 40px;
    font-style: italic;
    color: #1f2937;
    max-width: 950px;
}

.author{
    color: #1f2937;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    float: right;
}

.content-three{
    display: flex;
    justify-content: center;
    margin: auto;
}
.pop{
    display: flex;
    background-color: #3882f6;
    width: 1300px;
    height: 180px;
    margin-bottom: -130px;
    border-radius: 8px;
}

h2{
    font-size: 30px;
    margin: 0;
}

.left-up{
    color: aliceblue;
    margin: auto;
    margin-left: 100px;
}
 .left-up p{
     font-size: 20px;
     margin-top: 0;
 }

.right-btn{
    color: #e5e7eb;
    border-radius: 8px;
    border-width: 5px;
    background-color:#3882f6;
    border-color: #e5e7eb;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    width: 220px;
    height: 50px;
    outline: 0;
    cursor: pointer;
}

.footer{ 
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 25px;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

ul{
    
    display: flex;
    gap: 12px;
    list-style: none;
}

a{
    font-size: 22px;
    color: #e5e7eb;
    text-decoration: none;
}


